<odoo>
    <data>
        <menuitem id="menu_swtor_root"
                  name="SWTOR"
                  sequence="1"
                  web_icon="swtor_armory,static/src/icon/swtor_icon.png"/>

        <record id="action_character" model="ir.actions.act_window">
            <field name="name">Characters</field>
            <field name="res_model">swtor.character</field>
            <field name="view_mode">tree,form,kanban</field>
            <field name="search_view_id" ref="view_character_search"/>
            <field name="context">{'search_default_current_week': True}</field>
        </record>

        <menuitem id="menu_swtor_characters"
                  name="Characters"
                  sequence="11"
                  parent="menu_swtor_root"
                  action="action_character"/>

        <!-- Action to open the correct view -->
        <record id="action_crew_skill" model="ir.actions.act_window">
            <field name="name">Crew Skills</field>
            <field name="res_model">swtor.crew.skill</field>
            <field name="view_mode">tree,form</field>
            <field name="search_view_id" ref="view_crew_skill_search"/>
        </record>

        <!-- Menu item to access the crew skill views -->
        <menuitem id="menu_crew_skill"
                  name="Crew Skills"
                  sequence="13"
                  parent="menu_swtor_root"
                  action="action_crew_skill"/>
        <!-- Action to open the correct view -->
        <record id="action_operation" model="ir.actions.act_window">
            <field name="name">Operations</field>
            <field name="res_model">swtor.operation</field>
            <field name="view_mode">tree,form</field>
        </record>

        <!-- Action to open the correct view for operation difficulties -->
        <record id="action_operation_difficulty" model="ir.actions.act_window">
            <field name="name">Operation Difficulties</field>
            <field name="res_model">swtor.operation.difficulty</field>
            <field name="view_mode">tree,form</field>
        </record>

        <!-- Menu item to access the operation views -->
        <menuitem id="menu_operations"
                  name="Operations"
                  parent="menu_swtor_root"
                  sequence="13"/>

        <!-- Sub-menu item for current operations -->
        <menuitem id="menu_operation"
                  name="Current Operations"
                  sequence="101"
                  parent="menu_operations"
                  action="action_operation"/>
        <!-- Sub-menu item for operation difficulties -->
        <menuitem id="menu_operation_difficulty"
                  name="Operation Difficulties"
                  sequence="102"
                  parent="menu_operations"
                  action="action_operation_difficulty"/>

        <!-- Menu item for Classes -->
        <menuitem id="menu_classes"
                  name="Classes"
                  sequence="15"
                  parent="menu_swtor_root"/>

        <!-- Action to open the correct view for Origin Stories -->
        <record id="action_origin_story" model="ir.actions.act_window">
            <field name="name">Origin Stories</field>
            <field name="res_model">swtor.origin.story</field>
            <field name="view_mode">tree,form</field>
        </record>

        <!-- Sub-menu item for Origin Stories -->
        <menuitem id="menu_origin_story"
                  name="Origin Stories"
                  sequence="201"
                  parent="menu_classes"
                  action="action_origin_story"/>

        <!-- Action to open the correct view for Classes -->
        <record id="action_class_name" model="ir.actions.act_window">
            <field name="name">Classes</field>
            <field name="res_model">swtor.class.name</field>
            <field name="view_mode">tree,form</field>
        </record>

        <!-- Sub-menu item for Classes -->
        <menuitem id="menu_class_name"
                  name="Classes"
                  sequence="202"
                  parent="menu_classes"
                  action="action_class_name"/>
        <!-- Action to open the tree view -->
        <record id="action_operation_lockout" model="ir.actions.act_window">
            <field name="name">Operation Lockouts</field>
            <field name="type">ir.actions.act_window</field>
            <field name="res_model">swtor.operation.lockout</field>
            <field name="view_mode">tree</field>
            <field name="view_id" ref="view_operation_lockout_tree"/>
            <field name="context">{'search_default_current_week': True}</field>
        </record>

        <!-- Menu item to access the tree view -->
        <menuitem id="menu_operation_lockout"
                  name="Operation Lockouts"
                  parent="menu_operations"
                  sequence="103"
                  action="action_operation_lockout"/>

        <record id="action_swtor_item" model="ir.actions.act_window">
            <field name="name">SWTOR Items</field>
            <field name="res_model">swtor.item</field>
            <field name="view_mode">tree,form</field>
        </record>

        <menuitem id="menu_swtor_item"
                  name="Items"
                  sequence="12"
                  parent="menu_swtor_root"
                  action="action_swtor_item"/>

    </data>
</odoo>