.o_kanban_card_dark {
    background-color: #2c3e50; /* Dark background */
    color: white;
}

.o_kanban_card_light {
    background-color: #3498db; /* Light background */
    color: white;
}

.o_kanban_card_neutral {
    background-color: #ecf0f1; /* Neutral background */
    color: black;
}
.rarity-common {
    color: lightgrey;
}

.rarity-uncommon {
    color: green;
}

.rarity-rare {
    color: blue;
}

.rarity-epic {
    color: purple;
}

.rarity-legendary {
    color: yellow;
}

.rarity-legacy {
    color: orange;
}

.vehicle_icon img {
    max-height: 20px;
    max-width: 20px;
}
